                                        * {
                                            box-sizing: border-box;
                                        }
                                        
                                        p {
                                            text-align: justify;
                                        }
                                        /* ENCABEZADO DE PÁGINA */
                                        
                                        header {
                                            border: 3px rgb(169, 233, 126) solid;
                                            background-color: rgb(188, 241, 65);
                                            padding: 20px 50px;
                                            margin: 0;
                                            width: auto;
                                            font-family: cursive;
                                            font-size: 25pt;
                                            font-weight: bolder;
                                            color: white;
                                        }
                                        
                                        .dropbtn {
                                            background-color: #faf5f3;
                                            color: rgb(20, 19, 19);
                                            padding: 16px;
                                            font-size: 16px;
                                            border: none;
                                        }
                                        
                                        .home {
                                            position: relative;
                                            display: inline-block;
                                        }
                                        
                                        .home-content {
                                            display: none;
                                            position: absolute;
                                            background-color: #f1f1f1;
                                            min-width: 160px;
                                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                            z-index: 1;
                                        }
                                        
                                        .home-content a {
                                            color: rgb(17, 16, 16);
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                        }
                                        
                                        .home-content a:hover {
                                            background-color: rgb(212, 247, 181);
                                        }
                                        
                                        .home:hover .home-content {
                                            display: block;
                                        }
                                        
                                        .home:hover .dropbtn {
                                            background-color: #33f70c;
                                        }
                                        
                                        main {
                                            /* border: 3px red solid; */
                                            background-color: rgb(14, 117, 66);
                                            color: cornsilk;
                                            background-color: rgb(238, 230, 230);
                                            width: 100%;
                                            float: left;
                                            padding: 10px;
                                            margin: 0px 0px;
                                            /* overflow: hidden; */
                                        }
                                        
                                        .main_blocks {
                                            /* main: 2px white solid; */
                                            float: left;
                                            width: 33.33%;
                                            padding: 10px;
                                            margin: 0px;
                                        }
                                        
                                        .img {
                                            float: right;
                                        }
                                        
                                        article {
                                            /* border: 2px green solid; */
                                            background: rgb(84, 245, 70);
                                        }
                                        
                                        section {
                                            /* border: 1px blue solid; */
                                            background: rgb(58, 59, 59);
                                            margin: 10px;
                                            /* 10px 10px 0px 50px */
                                            padding: 10px 30px;
                                            color: white;
                                        }
                                        
                                        .days {
                                            width: 100%;
                                            float: left;
                                            margin: 0px;
                                            padding: 5px;
                                            font-size: small;
                                            font-style: italic;
                                            text-align: center;
                                        }
                                        
                                        .months {
                                            width: 100%;
                                            float: left;
                                            margin: 0px;
                                            padding: 5px;
                                            font-size: small;
                                            font-style: italic;
                                            text-align: center;
                                        }
                                        
                                        .time {
                                            width: 100%;
                                            float: left;
                                            margin: 0px;
                                            padding: 5px;
                                            font-size: small;
                                            font-style: italic;
                                            text-align: center;
                                        }
                                        
                                        .centered_image {
                                            /* border: 2px darkblue solid; */
                                            overflow: auto;
                                            /*margin: 0px auto; Para centrar pero no sirve ho he podido
     ya que los elementos se juntan con left. EL bloque se centra 
     pero internamente no. El paddign no sirve*/
                                        }
                                        
                                        footer {
                                            /* border: 3px solid red; */
                                            background-color: rgb(209, 211, 101);
                                            color: cornsilk;
                                            clear: left;
                                            padding: 10px;
                                            margin: 0px;
                                            overflow: auto;
                                        }
                                        
                                        .footer_blocks {
                                            /* border: 2px white solid; */
                                            float: left;
                                            width: 33.33%;
                                            padding: 10px;
                                            margin: 0px;
                                        }